#intro{
    background-image: url("../../assets/bg-intro.jpg");
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-left: 120px;
}

.logo{
    background-image: url('../../assets/logo.png');
    height: 50vh;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}


@media (max-width:1200px) {
    #intro{
        padding-left: 0px;
    }
}
@media (max-width:500px) {

    #intro{
        height: 65vh;
    }

    .logo{
        height: 30vh;
    }

    .panel-text{
        font-size: 1.25rem !important;
    }
}

@media (max-width:350px) {
    .panel-text{
        font-size: 1rem !important;
    }
}

