@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    font-family: "Roboto";
}

.red-button {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    background-color: red;
    border-radius: 2rem;
    color:#FFF;
    font-weight: 700;
}

.triangle{
    height: 2rem;
    width: 2rem;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    bottom: -1rem;
    transform: rotate(45deg);
    z-index: 1;
}